$base-color: #eceff1;

.module-colorswitch--menu {
	display: block;
	padding: 0;
	border: 0;

	ul {
		padding: 0;
		clear: both;
	}

	li {
		float: left;
		list-style: none;
		text-align: center;

		&:first-child:nth-last-child(1) {width: 100%;}
		&:first-child:nth-last-child(2),
		&:first-child:nth-last-child(2) ~ li {width: 50%;}
		&:first-child:nth-last-child(3),
		&:first-child:nth-last-child(3) ~ li {width: 33.3333%;}
		&:first-child:nth-last-child(4),
		&:first-child:nth-last-child(4) ~ li {width: 25%;}

		a {
			display: block;
			padding: 30px 0;
			color: black;
			text-decoration: none;
			text-transform: uppercase;
			border-bottom: 2px solid $base-color;

			&:hover,
			&:focus {
				background-color: white;
				border-bottom: 2px solid black;
			}
		}
	}
}