.module-colorswitch {
	position: relative;
	min-height: 65px;

	&:after {
		content: '\25B2';
		font-size: 18px;
		position: absolute;
		right: 16px;
		top: 16px;
	}
	&.closed:after {
		-ms-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	    transform: rotate(180deg);
	}

	&--red {
		background-color: red;
		li a {
			color: white;
			border-color: red;
			&:hover,
			&:focus {
				background-color: black;
				border-color: white;
			}
		}
	}
	&--blue {
		background-color: blue;
		li a {
			color: white;
			border-color: blue;
			&:hover,
			&:focus {
				background-color: black;
				border-color: white;
			}
		}
	}
}