//--------------------------------------
// Created:
// Created by:
// Modifiers:
//--------------------------------------
// Font Setup
@import "Utilities/font";
// Core variables and mixins
@import "Utilities/variables";
@import "Utilities/mixins";
// Normalize
@import "Utilities/normalize";

/*
    ==================
      GENERAL RESETS
    ==================
*/

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
	box-sizing: border-box;
	height: 100%;
}

* {
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

::-moz-selection {
	background: #faad17;
	color: #333132;
	text-shadow: none;
}

::selection {
	background: #faad17;
	color: #333132;
	text-shadow: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* ==============
    DIS/PLAY CSS
   ============== */

header,
main {
	@media all and (min-width: 980px) {
		max-width: 68em;
		margin: 0 auto;
	}
}

.test-information {
	position: relative;
	margin-bottom: 3em;
	padding: 3em;
	background-color: #CFD8DC;

	> h2 {
		margin-top: 0;
	}

	li + li {
		margin-top: 1em;
	}

	button {
		position: absolute;
		top: 2em;
		right: 2em;
		overflow: hidden;
		height: 2em;

		&:before {
			content: "Skjul";
			margin-right: 3px;
		}

		&:after {
			content: "\25B2";
			margin-left: 3px;
		}
	}

	&.is-hidden {
		overflow: hidden;
		height: 0;

		> * {
			color: #CFD8DC;
		}

		button {
			color: #000;

			&:before {
				content: "Vis";
				margin-right: 3px;
			}

			&:after {
				content: "\25BC";
				margin-left: 3px;
			}
		}
	}
}

.module-colorswitch {
	padding: 1em;
	background-color: #ECEFF1;
	border: 1px solid #CFD8DC;

	& + .module-colorswitch {
		margin-top: 2em;
	}

	> h2 {
		margin: 0;
		font-size: 2.4em;
		color: #CFD8DC;
	}

	&--menu {
		display: inline-block;
		padding: 1em;
		border: 1px solid #CFD8DC;

		> h3 {
			margin: 0;
			font-size: 1.2em;
		}
	}
}


// Helper classes
@import "Utilities/helpers";
@import "Utilities/mediaQueryIndicator",
		"base",
		"colorswitch";